{% extends 'polling_app/base_for_surveys.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% load static %}

{% block title %} {{survey.name}} {% endblock title %}


{% block body %}
	<h1>You are answering the survey: {{survey.name}} </h1>
	<div class="container"> {{survey.description|safe}} </div>
	<div>
		<form action="#" method="post">

	    {% csrf_token %}
            <h3> {% trans "Questions" %} </h3>
            {% include "polling_app/questions.html" %}
        <br>

	    <input
            class="btn btn-default btn-lg"
	        type="submit"
	        value="{% trans 'Submit' %}"
        >

	</form></div>
{% endblock %}
